.j{
    margin-top: 100px;
    text-align: center;
    align-content: center;
    width: 20px;
    height: 20px;
    background-color: blue;
    color: white;
    position: sticky;
    top: 0px;

}
.o{
    margin-top: 20px;
    text-align: center;
    align-content: center;
    width: 20px;
    height: 20px;
    background-color: lawngreen;
    color: black;
    position: sticky;
    top: 0px;
    left: 30px;
}
.a{
    margin-top: 10px;
    text-align: center;
    align-content: center;
    width: 20px;
    height: 20px;
    background-color: blueviolet;
    color: white;
    position: sticky;
    top: 0px;
    left: 60px;
}
.o1{
    margin-top: 10px;
    text-align: center;
    align-content: center;
    width: 20px;
    height: 20px;
    background-color: palegreen;
    color: black;
    position: sticky;
    top: 0px;
    left: 80px;
}
p {
    height: 5000px;
}

.resto{
    width: 100%;
    height: 1000px;
}