.chad{
    background-color: black;
    color: #ffffff;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0%;
}
div{
    color: black;
   margin-top: 200px; 
   height: 1000px;
   position: static;
}